# Streamlit UI
streamlit==1.35.0

# TensorFlow Lite CPU version (compatible with Python ≤ 3.11)
tensorflow-cpu==2.15.0

# Image processing
opencv-python==4.9.0.80
Pillow==10.3.0
numpy==1.26.4

# Optional (if using JSON files for labels)
jsonschema==4.22.0
